# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# OSEF de ces fichiers
commun
lex.xml.c
xml.output
xml.tab.c
xml.tab.h
xmltool

