# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# OSEF de ces fichiers
ProcesseurXML/commun
ProcesseurXML/lex.xml.c
ProcesseurXML/xml.output
ProcesseurXML/xml.tab.c
ProcesseurXML/xml.tab.h
ProcesseurXML/xmltool

